button#menu-close {
  position: absolute;
  right: 0;
  border: none;
  background-color: var(--off-white);
  width: 32;
  height: 31;
  margin: 26px 20px;
}

#menu-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-grayish-blue);
  opacity: 80%;
  z-index: 1;
}

#menu-mask[data-menu-open="false"] {
  display: none;
}

#menu-div {
  position: absolute;
  right: 0;
  width: 257px;
  height: 669px;
  z-index: 2;
  background-color: var(--off-white);
}

#menu-div[data-menu-open="false"] {
  display: none;
}

#menu-items {
  margin: 149px 0 0 26px;
}

a.menu {
  display: block;
  margin: 0 0 35px 0;
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

a.menu:hover {
  color: var(--soft-orange);
}
