div.story {
  display: grid;
  grid-template-areas: "image number" "image headline" "image blurb";
  grid-column-gap: 33px;
  margin: 0 18px 33px 16px;
  font-size: 14px;
  line-height: 26px;
}

div.story img {
  grid-area: image;
  width: 102px;
  height: 129px;
}

div.story h2 {
  margin: 10px 0;
  grid-area: number;
  color: var(--grayish-blue);
  font-size: 30px;
  font-weight: 800;
}

div.story h3 {
  grid-area: headline;
  margin-bottom: 2px;
  font-size: 17px;
  color: var(--very-dark-blue);
}

div.story p {
  grid-area: blurb;
  color: var(--dark-grayish-blue);
}

.tns01 {
  grid-area: 01;
}

.tns02 {
  grid-area: 02;
}

.tns03 {
  grid-area: 03;
}