:root {
  --soft-orange: #E9AB53;
  --soft-red: #F15E50;
  --off-white: #FFFDFA;
  --grayish-blue: #C5C6CE;
  --dark-grayish-blue: #5D5F79;
  --very-dark-blue: #00001A;
}

body {
  background-color: var(--off-white);
}

header {
  position: relative;
}

img#logo {
  margin: 27px 16px;
  width: 46;
  height: 29;
}

img#menu-open {
  position: absolute;
  right: 0;
  width: 40;
  height: 17;
  margin: 34px 16px;
}