@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --soft-orange: #E9AB53;
  --soft-red: #F15E50;
  --off-white: #FFFDFA;
  --grayish-blue: #C5C6CE;
  --dark-grayish-blue: #5D5F79;
  --very-dark-blue: #00001A;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--off-white);
  font-family: Inter, sans-serif;
  font-size: 15px;
  color: var(--very-dark-blue);
}

header {
  position: relative;
}

#logo {
  margin: 27px 16px;
  width: 46;
  height: 29;
}

#menu-open {
  position: absolute;
  right: 0;
  border: none;
  background-color: var(--off-white);
  width: 40;
  height: 17;
  margin: 34px 16px;
}

#mobileHero {
  width: 343px;
  height: 311px;
  margin-left: 16px;
}

#desktopHero {
  width: 730px;
  height: 300px;
  display: none;
  grid-area: hero;
}

@media (min-width: 1000px) and (orientation: landscape) {
  #mobileHero {
    display: none;
  }

  #desktopHero {
    display: block;
    width: 730px;
    height: 300px;
  }
}

h1 {
  max-width: 365px;
  margin: 5px 50px 0 16px;
  font-size: 40px;
  line-height: 42px;
  grid-area: "headline";
}

.headContent {
  grid-area: "blurb";
}

p#headBlurb {
  max-width: 337px;
  margin: 16px 26px 0 16px;
  line-height: 25px;
}

button.readMore {
  border: none;
  margin: 10px 0 0 16px;
  padding: 18px 35px;
  background-color: var(--soft-red);
  font-weight: bold;
  letter-spacing: -1px;
  color: var(--off-white);
}

button.readMore:hover {
  background-color: var(--very-dark-blue);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 1128px) and (orientation: landscape) {
  .narrow {
    display: grid;
    grid-template: 300px 209px 198px / 380px 380px 380px;
    grid-template-areas: "hero hero new" "headline blurb new" "tns01 tns02 tns03";
    gap: 30px;
  }

  div.narrow > * {
    margin: 0;
  }

  h1,
  .headContent {
    width: 350px;
  }

  p#headBlurb,
  button.readMore {
    margin: 0;
  }
}